body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 66%, rgba(237, 221, 83, 1) 100%);
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uiContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}